.popupInfo {
  position: absolute;
  top: 260px;
  background: white;
  border: 3px solid #f1f1f1;
  z-index: 9;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .passwordUl {
    line-height: 1.5;
  }
  hr {
    width: 300px;
  }
}
