.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  .popupInfo {
    background: white;
    border: 3px solid #f1f1f1;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .passwordUl {
      line-height: 1.5;
      font-size: .9em;
    }
    .notFulfilled{
      color:red;
      font-weight: bold;
    }
    hr {
      width: 300px;
    }
  }
}
