@import "./global.scss";

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $gradient;
}
.container::after {
  content: "";
  position: absolute;
  height: 200px;
  width: 130%;
  background-color: #f2f4f9;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
  z-index: 10;
}
.body {
  min-height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
