$gradient-start: #665fee;
$gradient-end: #27c2de;

$gradient: linear-gradient(45deg, $gradient-start 0%, $gradient-end 100%);
$selected-color: #1e90ff;
$contrast-color: white; // set a contrasting text color, white in this case

.container {
  font-family: "Open Sans", sans-serif;
  color: $contrast-color;
}
